.head {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.style {
    background-color: olivedrab;
    margin-right: 1%;
    width: 32%;
    height: 300px;
    border-color: darkgreen;
    border-width: 10px;
}